body{
  background: lightblue;
/*  display: grid;
  grid-template-columns:
  [full-start] minmax(0.5rem, 0.4fr)
  [frame-start] minmax(0.5rem, 0.6fr)
  [content-start] minmax(auto, 95ch)
  [content-end] minmax(0.5rem, 0.6fr)
  [frame-end] minmax(0.5rem, 0.4fr)
  [full-end]; */
}


.untertitel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:10px;
  grid-auto-rows: minmax(100px,auto);
}

.a {
  grid-column: 1 / 3;
  grid-row: 1;
}

.b {
  grid-column: 2/3;
  grid-row: 1;
}

.c {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}


.bgs {
  background-image:url(https://user-images.githubusercontent.com/95696603/148639521-b5f87ea9-6ed2-4ddd-893f-da97a61d9732.jpg),
                  url(https://user-images.githubusercontent.com/95696603/148640251-4f4545f8-009c-4e73-900b-f49c013f0614.png);

}


h1{
  color: #fff;
  font-size: 130px;
  text-shadow:
   0 0 7px #fff,
   0 0 10px #fff,
   0 0 21px #FF0000,
   0 0 42px #FF0000,
   0 0 82px #FF0000,
   0 0 92px #FF0000,
   0 0 102px #FF0000,
   0 0 151px #FF0000,
   0 0 156px #FF0000;
}

h2{
  color: white;
  font-size: 95px;

}

h3{
  color: black;
  font-size: 95px;
}

h4{
  color: black;
  font-size: 50px;
}

li{
  color: white;
  font-size: 27px;
}



footer{
  font-size: 20px;
}
